@media (max-width: 780px){
    .right{
        display: none;
    }

    .ctr{
        width: 100% !important;
    }

    
    body{
        overflow-x: hidden;
        align-items: center;
        width: 100%;
    }

    .body.menu-active{
        margin-left: 0 !important;
    }

    .body{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        left: 0;
     
    }

    .movil{
        visibility: visible;
    }

    .formulario{
        width: 500px !important;
    }

    .Cpost{
        width: 100% !important;
    }

    /*menus*/
    .menu{
        display: block;
    }

    .menuhor{
        display: none;
    }


    
    .contenedor{
       display: block;
    }

    
    .contenedor .w50{
        width: 100%;
    }

    .contenedor .right{
        width: 50%;
        
    }

    .seccion-equipos{
    display: none;  
}
    
}

/*cosas de escritorio*/

@media (min-width: 781px){
    .menu{
        display: none;
    }

    .hamburger{
        display: none;
    }

    .menuhor{
        display: flex;
    }

  
    .contenedor{
        display: flex;
    }

   .contenedor .right{
        width: 50%;
      
   }
}
    
